aliyun-python-sdk-cms==6.0.13
aliyun-python-sdk-core==2.13.4
aliyun-python-sdk-core-v3==2.13.3
certifi==2019.3.9
chardet==3.0.4
elasticsearch==6.3.1
idna==2.8
jmespath==0.9.4
pycryptodome==3.7.3
requests==2.21.0
urllib3==1.24.1
virtualenv==16.0.0
